# Configuration file

ATG {

    "Gravel Beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Shrubland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Snowy Gravel Beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Rocky Steppe" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Tropical Shrubland" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Tundra {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Volcano {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Woodland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


"Growthcraft|Bamboo" {

    BambooForest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


Minecraft {

    Ocean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Plains {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Desert {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Extreme Hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Forest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Taiga {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Swampland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    River {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Hell {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Sky {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    FrozenOcean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    FrozenRiver {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Ice Plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Ice Mountains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    MushroomIsland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    MushroomIslandShore {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Beach {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    DesertHills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    ForestHills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    TaigaHills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Extreme Hills Edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Jungle {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    JungleHills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    JungleEdge {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Deep Ocean" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Stone Beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Cold Beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Birch Forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Birch Forest Hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Roofed Forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Cold Taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Cold Taiga Hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mega Taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mega Taiga Hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Extreme Hills+" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Savanna {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Savanna Plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Mesa {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mesa Plateau F" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mesa Plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Sunflower Plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Desert M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Extreme Hills M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Flower Forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Taiga M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Swampland M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Ice Plains Spikes" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Jungle M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "JungleEdge M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Birch Forest M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Birch Forest Hills M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Roofed Forest M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Cold Taiga M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mega Spruce Taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Extreme Hills+ M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Savanna M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Savanna Plateau M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mesa (Bryce)" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mesa Plateau F M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Mesa Plateau M" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


Thaumcraft {

    "Tainted Land" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "Magical Forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Eerie {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    Eldritch {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


appliedenergistics2 {

    "Storage Cell" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


runicdungeons {

    Dungeon {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


